.titleSection {
    display: flex;
    align-items: center;
    background: #212529;
}

.titleText {
    color:aliceblue;
    cursor: pointer;
    font-size: xx-large;
    padding: 10px 0px;
    margin-left: 30px;
}

.navbarButtons {
    position: absolute;
    right: 30px;
}

.navButton {
    color: aliceblue !important;
    border-color: aliceblue !important;
}