.homepage {
    height: 100dvh;
}

.homepageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.makePostContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5bdaf;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.7rem;
}

.profilePic {
    width: 2rem;
    background-color: #faedcd;
    border-radius: 1rem;
    margin-right: 1rem;
}

.makePostButton {
    background-color: #fefae0;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 50vw;
}

.makePostButton:hover {
    background-color: #e9edc9;
}

.postsTableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MuiBox-root {
    width: 95% !important;
}

.spinner {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}